@import url('https://fonts.googleapis.com/css?family=Karla');

html, body {
  height: 100%;
  width: 100%;
  min-width: 1500px;


  display: flex;
  flex-direction: column;	

  overflow-x: hidden;

  font-family: helvetica, sans-serif;
  
  letter-spacing: 2px;
  line-height: 1.5em;
  font-size: 1em;

  margin: 0;
  padding: 0;

  background-color: rgba(255,215,200,1);
  /*z-index: -1; */


}


.fade {
  opacity: 0;
}

.container {
	height: 100%;
	width: 100%;

	overflow-y: scroll;
 	scroll-behavior: smooth;
 	/*z-index: 5;*/
}

h1, h2, h3, h4, h5, h6,  {

	width: 90%;
	padding: 5%;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Karla', sans-serif;

}

p {
	width: 90%;
	padding: 5%;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'helvetica', sans-serif;
}


nav {
	list-style: none;
	background-color: #ffe9df;

	top: 0;
	width: 100%;

	position: relative;
	display: none;
}

canvas {
	display: flex;
	position: absolute;
	top: 0;
	overflow: hidden;
	cursor: crosshair;

}

.page {
	height: 100%;
	width: 100%;


	/*background-color: #FFCD93;*/
	color: #523800;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	z-index: 5;

}



.title, .text {
	width: 40%;
	height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	z-index: 6;
}





#titlepage {


	flex-direction: column;

	text-align: center;
	align-items: center;
	justify-content: center;
}

#wave-holder {
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	z-index: -10;

}

#titlepage h1 {
	z-index: 10;
}

#explanation {


	background-color: rgba(255,215,200,1);
	/*background-color: white;*/
	align-items: flex-start;
	justify-content: center;

	height: 200%;

	/*background-image: url('../images/bubbletea.png');*/
	background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    /*background-size: cover;*/
}


.explanation-title {
	height: 20%;
	/*background-color: white;*/

	position: relative;
	top: 5%;

}

.explanation-text {
	height: 50%;
	/*background-color: white;*/

	position: relative;
	top: 5%;
 
}


#anatomy {

}

#mt-anatomy {
	width: 100%;
	height: auto;
	z-index: 20;
	/*display: flex;*/
	/*position: relative;*/
	/*top: 0;*/
}

#history {
	height: 200%;
	background-color: rgba(255,215,200,1);
	align-items: flex-start;

}
 
.history-title {
	/*background-color: white;*/
	height: 5%;
	position: relative;
	top: 10%;
}

.history-text {
	/*background-color: white;*/
	height: 40%;
	position: relative;
	top: 10%;
}




#findings {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.charts-page {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	position: relative;

	justify-content: center;
	align-items: center;
}
.charts {
	display: flex;
	flex-direction: row;

	width: 80%;
	height: 100%;
	margin: 5% 0 5% 0;
	height: auto;

	left: 10%;
	right: 10%;

	align-items: center;
	justify-content: center;
	/*text-align: center;*/
}

.chart-text-left {
	width: 66%;
	/*text-align: left;*/
	padding: 2.5%;
	margin: 0;
}

.chart-text-right {
	width: 33%;
	padding: 2.5%;
	margin: 0;
}

.two-thirds-chart {
	width: 66%;
	height: auto;
	padding: 2.5%;
}

.one-half-chart {
	display: flex;
	flex-direction: column;
	/*padding: none;*/
	width: 50%;
	height: auto;

	text-align: center;
}

.single-page-chart {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
}

.one-third-chart {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: auto;
	padding: 2.5%;
}


.graph {
	display: flex;
	position: relative;
}

.choices {
	display: flex;
	flex-direction: row;
	text-align: left;
}

#custom-boba {
	width: 100%;
	height: 100%;
	display: flex;

}

.bobaorder {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.order {
	width: 40%;
	height: 100%;
	margin: 0;
}

.order p {
	padding: 1%;
	margin: 1%;
	background-color: white;
	cursor: pointer;
	text-align: center;
}

.order p:hover {
	/*background-color: rgba(253,242,230,1);*/
	border: dotted #ffe9df;
}

.order p:visited {
	background-color: rgba(253,242,230,1);
	border: dashed white;

}


.topping-img {
display: none;
}

.tea-img {
	display: none;
}


.results {
	width: 60%;
	margin: 0;
	align-items: center;
	justify-content: center;
	position: relative;
}

.results img {
	width: 80%;
	/*height: auto;*/
	position: absolute;
	padding: 10%;
	top: 0;
}





.personality {
	display: flex;
	flex-direction: column;
	/*width: 100%;*/
	/*height: 100%;*/

	position: relative;

	justify-content: center;
	align-items: center;
	text-align: center;

}


.personalilty div {
	display: flex;
	top: 0;
	position: relative;
}

.personality-test-row {
	display: flex;
	width: 80%;
	height: auto;
	left: 10%;

	align-items: center;
	justify-content: center;

	margin: 2.5% 0 2.5% 0;
}
.personality-test-row div {
	background-color: #ffe9df;
	height: 200px;
	width: 200px;
	margin: 0 .5% 0 .5%;
	padding: .5%;

}

.personality-test-row div:hover {
	background-color: white;
	cursor: pointer;
}

.personality-box img {
	/*background-color: #ffe9df;*/
	width: auto;
	height: 100%
	/*width: 100px;*/
	/*margin: 2.5%;*/
	/*padding: 2.5%;*/
}














.map {
	flex-direction: column;
	position: relative;

}



iframe {
	width: 80%;
	height: 40%;
	display: flex;
	position: absolute;
	top: 0;
	z-index: 0;
	/*opacity: .5;*/
}

.transparent-box {
	width: 80%;
	height: 40%;
	display: flex;
	position: absolute;
	top: 0;
	background-color: rgba(255,255,255,.7);
	z-index: 2;

	justify-content: center;
	align-items: center;
	text-align: center;

}

.transparent-box:hover {
	opacity: .5;
}


.map-text {
	width: 80%;
	display: flex;
	position: relative;
	top: 10%;
	
}

.map-text h2 {
	padding-top: 5%;
	margin: none;
}

iframe #document .i4ewOd-haAclf .i4ewOd-pzNkMb-haAclf {
	display: none;
	background-color: transparent;
	visibility: hidden;


}















